@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>A Ticom Lab valoriza a privacidade e a segurança dos dados pessoais de seus pacientes, parceiros e visitantes. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos, compartilhamos e protegemos suas informações.</p>

